*{
	padding: 0px;
	margin: 0px;
	font-family: 'Source Sans Pro';
}
	body{
		/*padding-left: 50px;*/
		/*padding-right: 50px;*/
	}
		.fantasy{
			font-family: fantasy;
		}
		.centerText{
			text-align: center;
		}
		.logout{
			display: block;
			margin-right: 50px;
			color: rgb(45,52,66);
		}
		hr{
			box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			margin-left: 50px;
			margin-right: 50px;
			margin-top: 20px;
			margin-bottom: 40px;
		}
		.full_hr{
			margin-left: 0px;
			margin-top: 25px;
			margin-bottom: 25px;
			width: 100%;
			box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		}
		.space10{
			margin-top: 10px;
		}
		fieldset{
		 	width: 100%;
		 	height: 200px;
		 	border: 1px solid black;
		}
		button:focus{
    		outline: none;
    	}
/* Student Dashboard */
	
	@media screen and (max-width: 768px) {
	    
	    .profile_picture{
	    	display: block;
	    	width: 100px;
	    	height: 100px;
	    	padding: 3px;
	    	border: 10px ridge gray;
	    	border-radius: 50%;
	    }
	}

	@media screen and (min-width: 769px) and (max-width: 905px){
		.profile_picture{
			display: block;
			width: 125px;
			height: 125px;
			padding: 3px;
			border: 10px ridge gray;
			border-radius: 50%;
			margin-top: -75px;
			box-shadow: 0 0 8px rgba(0, 0, 0, .8);
		}
	}

	@media screen and (min-width: 906px) {
		
		.profile_picture{
			display: block;
			width: 150px;
			height: 150px;
			padding: 3px;
			border: 10px ridge gray;
			border-radius: 50%;
			margin-top: -100px;
			box-shadow: 0 0 15px rgba(0, 0, 0, .8);
		}
	}

	#dashboard_content{
		margin-top: 150px;
		padding-left: 75px;
	}
	#meeting_list{
		border: 2px solid black;
		margin-top: 25px;
		padding: 5px;
		min-height: 100px;
		box-shadow: 10px 10px 10px gray;
	}
		.my_meetings{
			margin: 0 auto;
			width: 150px;
			text-align: center;
			background-color: yellow;
			margin-top: 2px;
		}
	
		#mentor_image{
			width: 150px;
			height: 150px;
			border: 10px ridge gray;
			box-shadow: 0 0 8px rgba(0, 0, 0, .8);
			border-radius: 50%;
		}
		#mentor_interactions{
			width: 70%;
			display: inline-block;
			padding: 5px;
			min-height: 100px;
		}
			.mentor_action_button{
				width: 75%;
				margin-left: 12.5%;
				margin-top: 10px;
			}
		#mentor_communication{
			/*width: 50%;*/
			margin: 0 auto;
			margin-top: 20px;
		}
	.subject_div{
		display: inline-block;
		min-height: 200px;
		vertical-align: top;
		margin: 10px;
	}
		.subject_title{
			text-decoration: underline;
		}
		.subject_buttons{
			width: 150px;
			height: 75px;
			/*border: 1px solid black;*/
		}
			.chapter_buttons{
				width: 150px;
				height: 75px;
				display: block;
			}

/* Student Message Board */
	#mailbox_div{
		margin-left: 100px;
		margin-top: 100px;
	}

.mailbox_container{
	width: 60%;
	display: inline-block;
}
	.mail_div_show{
  			/*border: 5px outset gray;*/
  			width: 80%; 
  			min-width: 525px;
  			min-height: 500px; 
  			display: inline-block; 
  			vertical-align: top; 
  			margin-left: 50px;
  			margin-top: 50px;
  	}
  	.mail_div{
  			width: 65%; 
  			min-width: 525px;
  			min-height: 500px; 
  			display: inline-block; 
  			vertical-align: top; 
  			margin-left: 50px;
  			margin-top: 50px;
  		}


	.message_form_label{
		text-align: right;
	}
		.message_content_input{
			min-height: 150px;
		}
	.reply_label{
		width: 150px;
		text-align: right;
		vertical-align: top;
	}
	.reply_input{
		border-radius: 5px;
		height: 30px;
		width: 300px;
		max-width: 300px;
	}
	#outbox, #inbox, #message_mentor{
		border: 3px ridge gray;
		height: 450px;
		overflow-y: scroll;
	}
	.mailbox_btns{
		width: 100%;
		border-radius: 5px;
		margin-bottom: 10px;
		color: black;
	}
	.btn_shadow{
		box-shadow: 5px 5px 5px black;
	}
	.btn_pressed{
		border: 3px solid black;
	}

/* Chapter-Lesson Page */

	/* Navigation Pane */

	.nav_pane_div{
		display: none;
	}
	.nav_pane_div_show{
		padding-top: 55px;
		margin-left: 50px;
		width: 222px;
		min-height: 500px;
		display: inline-block;
	}
	#nav_icon_div{
		width: 50px;
		height: 100%;
		/*background-color: rgb(28,32,38);*/
		background-color: rgb(32,37,44);
		padding-top: 47px;
		position: fixed;
	}
	#nav_sidebar{
		background-color: rgb(95,150,215);
		height: 1500px;
		position: fixed;
	}
	.navigation_pane{
		background-color: rgb(45,52,66);
		padding-left: 15px;
		padding-right: 15px;
		padding-bottom: 50px;
		padding-top: 60px;
	}
		.nav_subject_title{
			margin-top: 10px;
			font-size: 16px;
			
			color: rgb(234,234,234);
		}
		
		.nav_chapter_title{
			margin-top: 5px;
			font-size: 14px;
			color: rgb(234,234,234);
		}
		.progression{
			color: rgb(255,255,255);
			text-align: center;
			font-size: 11px;
			margin-top: 10px;
			margin-bottom: 4px;
		}
		.lesson_btns{
			background-color: none;
			background: none;
			color: rgb(234,234,234);
			border: none;
			margin-left: 30px;
			font-size: 12px;
			margin-bottom: 3px;
		}
		.lesson_btns_current{
			background-color: none;
			background: none;
			color: rgb(234,234,234);
			border: none;
			margin-left: 12px;
			font-size: 12px;
			margin-bottom: 3px;
			font-weight: bolder;
		}
		.nav_btns{
			width: 20px;
			height: 20px;
			margin-bottom: 5px;
			background-size: cover;
			background-repeat: none;
			background-color: rgb(32,37,44);
			border: none;	
		}
		.nav_btns_2{
			width: 20px;
			height: 20px;
			margin-bottom: 5px;
			background-size: cover;
			background-repeat: none;
			background-color: rgb(32,37,44);
			border: none;
			margin-top: -6px;
		}
		.nav_btns_2_blue{
			width: 20px;
			height: 20px;
			margin-bottom: 5px;
			background-size: cover;
			background-repeat: none;
			background-color: rgba(52,152,219,1.02);
			border: none;
			margin-top: -2px;
		}
			/*#nav_courses{
				background-image: url('/assets/images/book_white.png');
			}*/
			.nav_courses_open_btn{
				background-image: url('/assets/images/book_dark.png');
				background-color: rgba(52,152,219,1.02);	
			}
			.nav_courses_closed_btn{
				background-image: url('/assets/images/book_white.png');
			}
			#nav_precourses{
				background-image: url('/assets/images/precourse.png');
			}
			#nav_dashboard{
				background-image: url('/assets/images/dashboard2.png');
			}
			#nav_messages{
				background-image: url('/assets/images/chat.png');
			}
			#nav_schedule{
				background-image: url('/assets/images/time5.png');
			}

		#navigation_title{
			margin-top: 1px;
			margin-bottom: 15px;
			text-align: center;
			text-decoration: underline;
		}

	/* Lesson Content  */	

	#lesson_body{
  			background-color: rgb(247,247,247);
  		}
  		.lesson_div{
  			border-top: 5px solid rgb(234,234,234);
  			background-color: rgb(242,242,242);
  			width: 47%; 
  			min-width: 525px;
  			/*min-height: 500px; */
  			display: inline-block; 
  			vertical-align: top; 
  			margin-left: 50px;
  			margin-top: 50px;
  		}
  		.lesson_div_show{
  			border-top: 5px solid rgb(234,234,234);
  			background-color: rgb(242,242,242);
  			width: 62%; 
  			min-width: 525px;
  			/*min-height: 500px; */
  			display: inline-block; 
  			vertical-align: top; 
  			/*margin-left: 50px;*/
  			margin-top: 50px;
  		}
  		#course_body{
  			min-width: 950px;
  		}
  		#lesson_div{
  			/*background-color: rgb(242,242,242);*/
  			padding: 25px;
  			/*max-height: 1450px;*/
  			/*overflow-y: scroll; */
  		} 		
  		.prev_next_btns{
  			margin-top: 25px;
  			width: 49%;
  			display: inline-block;
  			background-color: rgb(242,242,242);
  			border: none;
  		}
  			.prev_next_btn_bold{
  				font-weight: bold;
  			}
  				.next_lesson{
  					display: inline-block;
  				}
  		.current_btn{
  			background-color: rgb(49,71,97);
  		}


  	/* Assignment Tabs */
  	.project_tab_div{
		height: 400px;
		overflow-y: scroll;
	}	

  	.tabs .arrow {
	  position: absolute;
	  width: 0;
	  height: 0;
	  border-left: 12px solid transparent;
	  border-right: 12px solid transparent;
	  border-bottom: 10px solid rgb(95,150,215);
	  top: -3px;
	  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
	  -moz-transform: rotate(180deg);        /* FF */
	  -o-transform: rotate(180deg);          /* Opera */
	  -ms-transform: rotate(180deg);         /* IE9 */
	  transform: rotate(180deg);
	  transition: all 0.3s ease;
	}
	.tabs ul {
	  width: 100%;
	  box-sizing: border-box;
	  margin: 0;
	  padding: 0;
	  list-style: none;
	}
	.tabs ul li {
	  font-weight: bold;
	  color: rgb(212,212,212);
	  font-size: 24px;
	  background-color: rgb(247,247,247);
	  text-align: center;
	  float: left;
	  padding: 16px 0;
	  box-sizing: border-box;
	  display: inline-block;
	  width: 25%;
	}
	.tabs ul li.active {
	  border-bottom: 3px solid rgb(95,150,215);
	  color: black;
	}
	.tabs ul {
	  color: #000;
	  text-decoration: none;
	}
	.tabs #tab-container {
	  /*padding-top: 25px;*/
	  position: relative;
	  min-height: 400px;
	  background-color: #eeeeee;
	  clear: both;
	}
	.tabs .tab-content {
	  padding: 25px;
	  display: none;
	}
	#quiz_form{
		width: 90%;
		margin-left: 5%;
	}
		.quiz_title{
			font-size: 16px;
			margin-bottom: 5px;
			font-weight: bold;
		}
	  		.question_box{
	  			display: inline-block;
	  			width: 49%;
	  			height: 200px;
	  			padding: 15px;
	  			padding-left: 25px;
	  			vertical-align: top;
	  		}
	  			.quiz_question_number{
	  				font-size: 14px;
	  				font-weight: bold;
	  				margin-right: 10px;
	  			}
	  			.question_line{
	  				margin-bottom: 5px;
	  			}
	  			.quiz_answer_row{
	  				padding-left: 35px;
	  				font-size: 12px;
	  			}
		  			.quiz_answers{
		  				font-size: 12px;
		  			}
	  			#quiz_btn{
	  				width: 40%;
	  				margin-left: 30%;
	  			}

  	/* ACHEIVEMENTS */

  	.achievements_div{
		min-height: 1450px;
		/*margin-right: 50px;*/
		border-top: 5px solid rgb(234,234,234);
		background-color: rgb(242,242,242);
		width: 200px;
		display: inline-block;
		vertical-align: top;
		margin-top: 50px;
		margin-left: 25px;
		/*height: 100%;*/
		padding: 10px;
	}
	  	.awards{
			margin-left: 7px;
			margin-bottom: 15px;
			border-radius: 50%;
			border: 5px groove Chartreuse;
			background-color: ghostwhite;
			width: 75px;
			height: 75px;
			display: inline-block;
			background-size: cover;
			background-repeat: none;
			background-position: center;
		}
	  		#award1{
	  			background-image: url('/assets/images/award10.svg');
	  		}
	  		#award2{
	  			background-image: url('/assets/images/award11.svg');
	  		}
	  		#award3{
	  			background-image: url('/assets/images/award12.svg');
	  		}
	  		#award4{
	  			background-image: url('/assets/images/award13.svg');
	  		}
	  		#award5{
	  			background-image: url('/assets/images/award14.svg');
	  		}
	  		#award6{
	  			background-image: url('/assets/images/award15.svg');
	  		}
