*{
	margin: 0 auto;
	padding: 0 auto;
}

.margin50{
	margin-top: 50px;
}

#landing{
	background-color: rgb(32,37,44);
	padding-top: 100px;
	padding-bottom: 100px;
	color: ghostwhite;
}
	#signin_header{
		text-align: center;
		margin-bottom: 50px;
	}
	#new_student{
		text-align: center;
	}
	
	.registration_container{
		padding-left: 5%;
		padding-right: 5%;
	}
		.progress_bar{
			width: 80%;
			margin-left: 10%;
		}
			.current{
				font-style: italic;
				font-weight: bold;
				text-decoration: underline;
			}
			.whiteLink{
				color: white;
				text-decoration: none;
			}
			.completed {
			  color: #FFF;
			  background-color: #26bfa1;
			}

			.step {
			  width: 20%;
			}
			
@media screen and (max-width: 700px) {
    .progress_bar {
        display: none !important;
    }
    .progress_bar_small{
    	display: block;
    }
}
@media screen and (min-width: 701px) {
    .progress_bar_small {
        display: none !important;
    }
    .progress_bar_small{
    	display: block;
    }
}

/* Step 2 - Mentor Selection */

#mentor_list{
	margin-top: 75px;
}
	.mentor_info{
		margin: 0 auto;
		vertical-align: top;
		border: 2px solid black;
		margin-top: 10px;
		padding: 15px;
	}
		.mentor_select_btn{
			border-radius: 5%;
			width: 125px;
			 background-color: #26bfa1;
		}
		.mentor_current_btn{
			border-radius: 5%;
			width: 125px;
			 background-color: rgb(10,245,50);
		}


/* Step 3 - Meeting Selection */
@media screen and (max-width: 700px) {
	.schedule_table_cell{
		font-size: 10px;
		text-align: center;
	}
}
@media screen and (min-width: 701px) {
	.schedule_table_cell{
		font-size: 15px;
		text-align: center;
	}
}

	input[type='checkbox'] {
	    -webkit-appearance:none;
	    width:25px;
	    height:25px;
	    background:white;
	    border-radius:5px;
	    border:2px solid #555;
	}
	input[type='checkbox']:checked {
	    background: #abd;
	}
	.my_meetings{
		width: 40%;
		text-align: right;
		display: inline-block;
	}
	.drop_meeting{
		text-align: left;
		margin-left: 5%;
		width: 40%;
		display: inline-block;
	}
		.drop_meeting_btn{
			background-color: red;
		}

/* Step 4 - Course Materials */
.prep_content{
	width: 70%;
	margin-left: 15%;
}
	.step_btn{
		margin-top: 25px;
	}

/* Step 5 - Precourse Work */
.precourse_list{
	list-style: none;
}


/* Admin Dashboard */

fieldset{
	border: 1px solid black;
	margin-top: 25px;
	box-shadow: 2px 2px 2px black;
}
	.admin_links{
		font-weight: bold;
		font-size: 18px;
		list-style: none;
	}

/* Admin Add Lesson */

#admin_lesson_body{
	padding: 50px;
	min-width: 900px;
}

.admin_container, .page_btn{
	width: 400px;
	margin: 0 auto;
	margin-top: 25px;
}
	.page_sections{
		margin-top: 10px;
		border: 1px solid black;
		padding: 10px;
	}
	.subject_input{
		width: 100px;
		text-align: left;
	}
	.chapter_lesson_label{
		text-align: right;
		width: 100px;
	}
	.chapter_lesson_input{
		text-align: left;
		width: 50px;
	}
	.centerItem{
		text-align: center;
	}
	.content_insert{
		width: 100%;
	}
	.course_setup_label{
		width: 65%;
	}
	.course_setup_input{
		width: 100%;
		max-width: 100%;
	}
	.course_positions{	
		vertical-align: top;
		width: 10%;
	}
	.lesson_submit{
		width: 100px;
		margin: 0 auto;
		margin-top: 10px;
		margin-bottom: 50px;
	}
	.action_forms{
		display: inline-block;
	}
	#add_question_4, #add_question_2{
		display: inline-block;
		border: 1px solid black;
		border-radius: 3px;
		width: 48%;
		text-align: center;
		/*margin-left: 25%;*/

	}

